/* Path: user/themes/reborn-k/css/custom.css */


:root {
    --color-light: #f0f0f0;
    --color-light-highlight: #ffffff; 
    --color-dark: #000000;
    --color-primary: #377D00;
    --color-secondary: #F8B23C;
    /* Colored peaks colors */
    --peaks-color-1: #EDF4E7;
    --peaks-color-2: #DBEACF;
    --peaks-color-3: #C9DFB7;
    --peaks-color-4: #B7D5A0;
    --peaks-color-5: #A5CA89;
    --peaks-color-6: #93BF72;
    --peaks-color-7: #80B55B;
    --peaks-color-8: #6CAA44;
    --peaks-color-9: #58A02A;
    /* gradient variables */
    --sipka-gradient: linear-gradient(271deg, #8E5A00 0%, #F8B23C 97.42%);
    --section-gradient: linear-gradient(180deg, #377D00 0%, #125D01 100%);
    scroll-behavior: smooth;
    --serif: 'Source Serif 4', serif;
    --inter: 'Inter', sans-serif;
    --miriam: 'Miriam Libre', sans-serif;
}

::-moz-selection { /* Code for Firefox */
  color: var(--color-light-highlight);
  background: var(--color-primary);
}

::selection {
  color: var(--color-light-highlight);
  background: var(--color-primary);
}

html,
body {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

/* FONT FACES */

.font, blockquote p{
  font-family: var(--inter);
  line-height: normal;
  font-weight: 400;
  font-style: normal;
}
.header{
  font-size: 3.33rem;
}
.sm{
  font-size: 1.25rem;
}
.md{
  font-size: 1.675rem;
}
.lg{
  font-size: 2.5rem;
}
.bold{
  font-weight: 700;
  filter: drop-shadow(0px 6px 25px #0000001a);
}
.regular{
  font-weight: 400;

}
.light{
  font-weight: 300;
}
.wh{
  color: var(--color-light);
}
.bold .wh{
  color: var(--color-light-highlight);
}
.bk{
  color: var(--color-dark);
}
/*section gradient*/
.sg{
  background: var(--section-gradient);
}

blockquote{
  background-color: var(--color-light);
  padding: 3rem;
  border-radius: 1.975rem;
  margin: 1.5rem 0;
  color: var(--color-dark);
  filter: drop-shadow(0px 6px 25px #0000001a);
}
blockquote p{
  margin:0;
  padding: 0;
}
blockquote p::before, blockquote p::after{
  content: '"   ';
  font-size: 2rem;
  font-weight: 600;
}

/*-------------------- NAVBAR -------------------------*/

.navbar{
    display: flex;
    height: 90px;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 4rem;
    align-items: center;
  }
  .navbar-brand{
    height: calc(90px - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 6px 25px #0000001a);
  }
  .nav__links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 50px;
  }
  .nav__links li{
    list-style: none;
  }
  .navlink{
    color: var(--color-dark);
    text-decoration: none;
    text-align: center;
    font-family: var(--miriam);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.59444rem */
    transition: cubic-bezier(0.23, 1, 0.320, 1) 0.3s all;
  }
  .navlink:hover{
    color: var(--color-primary);
    letter-spacing: 2px;
    font-weight: 600;
  }
  
  .nav__links li:last-of-type .navlink{
    border-radius: 2.15919rem;
    background: var(--color-primary, #377D00);
    padding: 0.66669rem 1.83331rem;
    color: var(--color-light);
  }
  .active{
    /* if needed add styles for the current active link, the code is ready for it*/
  }
        /* Mobile Nav */
      .page-navbar__hamburger {
        padding: 0;
        border: none;
        display: none;
        margin-right: 20px;
        cursor: pointer;
        font-family: Icons;
        font-size: 2.7em;
        color: var(--primary);
        background-size: 100%;
        background-repeat: repeat;
      }
        .menu {
          display: none;
          margin-left: 1rem;
          padding: 9px 25px;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          transition: background-color 0.3s ease 0s;
          background-color: transparent;
        }
        
        .menu:hover{
        }
      
        .overlay {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1000;
          left: 0;
          top: 0;
          background-color: var(--background-highlight);
          overflow-x: hidden;
          transition: width 0.5s ease 0s;
        }
        .overlay ul{
          list-style-type: none;
        }
        .overlay--active {
          width: 100%;
        }
        
        .overlay__content, .overlay__content ul {
          display: flex;
          height: 100vh;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        
        .overlay li a {
          padding: 15px;
          font-size: 36px;
          display: block;
          transition: color 0.3s ease 0s;
          color: var(--peaks-color-1);
        }
        
        .overlay li a:hover,
        .overlay li a:focus {
          cursor: pointer;
        }
        .overlay .close {
          position: absolute;
          top: 20px;
          right: 45px;
          font-size: 60px;
          color: var(--texthighlight);
          transition: all ease-in-out 0.3s;
        }
  
        .overlay .close:hover{
          text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
          color: #ffffff;
          animation: shake 250ms 2 ease-in;
          -moz-animation: shake 150ms 2 linear;
          -webkit-animation: shake 150ms 2 linear;
          -o-animation: shake 150ms 2 linear;
  
        }
      .overlay ul{
        padding: 0;
      }
        .overlay .active:hover{
          border-radius: 0;
        }
        .overlay .navlink{
          transition: all ease-in-out 0.3s;
        }
        .overlay .navlink:hover{
          background-color: transparent;
          font-size: 3em;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.377), 0 0 1em rgba(0, 0, 0, 0.308), 0 0 0.2em rgba(0, 0, 0, 0.151);
        }
  
        /* overlay */
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  /* ==== 1080 px ==== */ 
  @media only screen and (max-width: 1380px) {
    .nav__links
     {
      display: none;
    }
    .menu {
      display: inline-block;
      margin-right: 10px;
    }
    .active{
        /* if needed add styles for the current active link, the code is ready for it*/
    }
  }
        @media only screen and (max-width: 600px) {
          .navbar{
            padding: 5px;
          }
          .navbar img{
            height: 70px;
          }

  }

/*-------------------- HERO -------------------------*/
/* hero section */
.banner__wrapper, .banner-grid {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* hero content */
.banner__wrapper .banner-grid *{
  text-align: center;
  font-family: var(--serif);
}
/* hero image */
.banner__wrapper .banner-grid img{
  width: 600px;
  margin: -50px;
}
/* hero heading */
.banner__wrapper .banner-grid h1{
  font-size: 8.78131rem;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding: 0;
  margin: 0;
}
/* hero heading bold */
.banner__wrapper .banner-grid h1 b{
  color: var(--color-primary);
  font-size:  220px;
  font-weight: 400;
  line-height: 50px;
  filter: drop-shadow(0px 6px 25px #0000001a);
}
/* hero subheading */
.banner__wrapper .banner-grid h2{
  font-size: 1.59588rem;
  font-style: normal;
  margin-top: 40px;
  font-weight: 400;
  line-height: normal;
  color: var(--BLACK, #000);
  text-align: center;
  filter: drop-shadow(0px 6px 25px #0000001a);
  max-width: 70vw;
}

/* -------------------- Mainpage Layout -------------------------*/

/* mainpage - layout */
.mp-layout {
}
.mp-layout-container{
    display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      height: 100vh;
      gap: 50px;
  max-width: 1200px;
}

/* P */
.mp-content p, .cta-wrapper p, .onas-container p{
  font-size: 1.25rem;
}

/* H3 */
.mp-content h3, .cta-wrapper h3, .onas-container h3{
  font-size: 3rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
/* H4 */
.mp-content h4, .cta-wrapper h4, .onas-container h4{
  font-size: 2rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

/* BUTTON */
.mp-content a, .cta-wrapper a, button, .onas-container a{
  display: flex;
  padding: 1.08331rem 5.41669rem;
  justify-content: center;
  align-items: center;
  gap: 0.83331rem;
  border-radius: 2rem;
  background: var(--section-gradient);
  max-width: fit-content;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--color-light);
  border: none;
  filter: drop-shadow(0px 6px 25px #0000001a);
}
/* BUTTON alternative style */
.sg a, .cta-wrapper a{
  background: var(--color-light);
  color: var(--color-dark);
}

/* mainpage - media */
.mp-image ,.mp-media-container, .mp-video{
  max-width: 550px;
  max-height: 754px;
  border-radius: 1.975rem;
  object-fit: fill;
  filter: drop-shadow(0px 6px 25px #0000001a);
}



/* circular layout */
.circle-container {
  position: relative;
  width: 100%;
  height: 105vh; /* Adjust the height as needed */
  background-image: url("../images/balls-background.png");
  background-size: cover;
}



.circle {
  position: absolute;
  /* width: 80px; /* Adjust the width of the circles */
  /*  height: 80px; /* Adjust the height of the circles */
  /* background-color: #ccc; /* Adjust the background color as needed */
  color: var(--color-light);
  text-align: center;
  line-height: 80px; /* Adjust the line height to vertically center the text */
  font-size: 14px; /* Adjust the font size as needed */
  transform: translate(25%, 50%);
}




.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle-header{
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: -50rem;
}
.center img {
  max-width: 30rem;
}
.center h4{
  margin-top: -35px;
}

.vlastnost-wrapper{
  display: flex;
  flex-direction: column;	
  align-items: center;
  justify-content: center;
  width: 15rem;
}

.vlastnost-image{
  width: 100%;
  height: auto;
  margin-bottom: -2.5rem;
}

.vyuziti-wrapper{
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}
.glide-carousell-wrapper{
  width: 100%;
  height: auto;
      padding-top: 5vw;
        padding-bottom: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.glide-carousell-wrapper h2 {
 text-align: center;
}

.glide__track{
  cursor: url("../images/hand-opened.png"), auto;
}

.glide__track:active {
  cursor: url("../images/hand-closed.png"), auto;
}


.vyuziti-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 6px 25px #0000001a);
}

.vyuziti-heading{
  position: absolute;
  top: 80%;
  margin: 0;
  left: 10%;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.8));
}

.mp-media-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mp-media-container img {
  flex: 1;
  object-fit: cover;
  max-height: 40dvh; 
}
.mp-media-container img:nth-of-type(1) {
  transform: translate(-1rem, 1rem);
}
.mp-media-container img:nth-of-type(2) {
  transform: translate(1rem, -2.975rem);
}


/* CTA */
.cta-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100dvw;
  background: var(--color-primary);
  text-align: center;
}
.cta-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  padding: 2rem 0;
  filter: drop-shadow(0px 6px 25px #0000001a);
}

/* Add your styles here */
.footer {
  background: radial-gradient(827.38% 245.31% at 47.94% 49.98%, #000 1.05%, #7E7E7E 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  margin-top: 2rem;
  max-width: 1400px;
  width: 100%;
}

.logo img {
  width: 100px;
  height: auto;
}

.navigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
      padding: 0;
}
.navigation li a{
  transition: cubic-bezier(0.23, 1, 0.320, 1) 0.3s all;
}
.navigation li a:hover{
  color: var(--color-primary);
  letter-spacing: 2px;
  font-weight: 600;
}

.footer-container .banner__main-text {
  color: var(--Background-color, #FFF);
  text-align: center;
  font-family: var(--serif);
  font-size: 6.889rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-container .banner__main-text b {
  color: var(--color-primary);
  font-size: 9.172rem;
  font-weight: 600;
  line-height: normal;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1.66rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.copyright {
  border-top: 1px solid #ccc;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.copyright p {
  text-align: center;
}

.copyright a {
  color: var(--color-primary);

}
/* -------------------- GALERIE -------------------------*/
.pagecontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.gallery--box {
  width: 80%;
}
#lightgallery {
  column-count: 3;
  column-gap: 1rem;
  column-width: 33.3%;
}
.image--item  {
  -webkit-transform: scale(0);
  transform: scale(1);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.image--item  img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

/* -------------------- O nás stránka -------------------------*/
.onas-wrapper{
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}
.onas-wrapper svg{
  position: absolute;
  top: 63px;
  left: -69px;
  width: 100%;
  overflow: visible;
  z-index: -5;
}
#animatedPath {
  stroke-width: 20px;
  stroke: var(--Highlight-color, #377D00);
  fill: none;
  z-index: -5;
  filter: drop-shadow(0px 6px 25px #0000001a);
}
.onas-div > * {
  width: 40%;
}

.onas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  gap: 6rem;
  margin-top: 10rem;
  position: relative;
}
.date{
  position: absolute;
  width: 75px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  background-color: var(--color-primary);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--color-light) 15px solid;
}

.date:last-child{
  
}

.date-last {
  width: 150px !important;
  border: var(--color-light) 0px solid;
}

.onas-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.onas-div img, .onas-div blockquote {
  border-radius: 1.75rem;
  filter: drop-shadow(0px 6px 25px #0000000a);
}
.onas-div blockquote {
  background: linear-gradient(45deg, #52951c 0%, #2c8119 100%);
  color: var(--color-light);
}


/*image on the other side */
.iotos {
  flex-direction: row-reverse;
}

.oddelovac {
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../images/peaks.svg");
  height: 369px;
  background-position: bottom;
  }

/* -------------------- Kontakt stránka -------------------------*/

.kontakt-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding-bottom: 3rem;
  background: var(--color-light);
  background-image: url("../images/background-texture-transparent.png");
}

.kontakt-container *{
  min-width: 0;
}

.kontakt-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  padding: 2rem 0;
}
.kontakt-sub-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 40%;
  padding: 2rem 0;
}

.kontakt-sub-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem 0;
}

.kontakt-form input, .kontakt-form textarea{
  border-radius: 1rem;
  padding: 1.25rem;
  border: var(--color-primary) 2px solid;
  margin: 0;
}
.kontakt-form label{
  margin-left: 1rem;
}
.form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 220px;
  width: 60%;
}

.kontakt-osoba{
  display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.kontakt-osoba h3{
  font-size: 2rem;
  color: var(--color-primary);
  font-weight: 400;
}

.osoba-img{
  border-radius: 50%;
}

.kontakt-socials{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.social-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
}
.social-container a{
  text-decoration: none;
}

.kontakt-adress-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.kontakt-adress-info p{
  margin: 0;
  padding: 0;
}


/* responzvita */
@media (max-width: 1300px) {
  .mp-layout-container{
    scale: 0.9;
  }
}


@media (max-width: 900px) {
    div.content-outer {
        height: 220px !important;
      }
  .banner__wrapper .banner-grid img{
    width: 500px;
  }
  .onas-div{
    flex-direction: column;
    gap: 2rem;
  }
  .onas-div > *{
    width: 85vw;
  }
  .onas-container svg{
    display: none;
  }
  .date {
    position: unset;
    width: fit-content !important;
    border-radius: unset; 
    aspect-ratio: unset; 
    background-color: unset; 
    left: unset; 
    transform: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
    z-index: 2;
    color: var(--color-dark);
    padding: 1rem 0rem;
}
  .onas-container p{
    font-size: 1rem;
  }
  .kontakt-content{
    flex-direction: column-reverse;
  }
  .kontakt-sub-container{
    width: 100vw;
  }
  .mp-layout-container {
    flex-direction: column; /*important */
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    margin: 0;
    height: auto;
  }
  .iotos {
    flex-direction: column;
  }
  .mp-image{
    max-width: 700px;
    width: 90vw;
  }
  .mp-video{
    width: auto;
  }
  .mp-content{
    max-width: 800px;
  }

  .circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .vlastnost-wrapper{
    flex-direction: row;
    width: auto;
  }
  .circle{
    position: inherit;
    transform: none;
    text-align:left;
  }

  .vlastnost-image{
    width: 100px;
  }
  .circle-header img{
    display:none;
  }
     .footer-container .banner__main-text {
       scale: 0.8;
      margin: 0;
      padding: 0;
     }

     .navigation{
      scale: 0.7;
     }
         .glide-carousell-wrapper h2 {
           scale: 0.7;
         }
         .mp-media-container img:nth-of-type(1) {
          transform: translate(-8rem, 1rem);
        }
        .mp-media-container img:nth-of-type(2) {
          transform: translate(-3rem, -2.975rem);
        }
}
@media (max-width: 750px) {
  .banner__wrapper .banner-grid img {
      width: 100vw;
    }
  .banner__wrapper .banner-grid h1 {
      font-size: 7rem;
    }
  
    /* hero heading bold */
    .banner__wrapper .banner-grid h1 b {
      font-size: 150px;
    }
  
    /* hero subheading */
    .banner__wrapper .banner-grid h2 {
      font-size: 1rem;
      margin-top: 15px;
    }
  .footer-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
  .mp-media-container img:nth-of-type(1) {
    transform: translate(-3rem, 1rem);
  }
  .mp-media-container img:nth-of-type(2) {
    transform: translate(-1rem, -2.975rem);
  }
}

@media (max-width: 600px) {
  div.content-outer{
    height: 150px !important;
}
  .banner__wrapper .banner-grid h1 {
      font-size: 5rem;
    }
  
    /* hero heading bold */
    .banner__wrapper .banner-grid h1 b {
      font-size: 7rem;
    }

  .glide-carousell-wrapper{
    padding-top: 10vw;
    padding-bottom: 20vw;
  }
  .header{
    font-size: 2.33rem;
      padding: 0;
      margin: 0;
  }
  .mp-content p,
  .cta-wrapper p {
    font-size: 1rem;
  }
    .mp-content a,
    .cta-wrapper a,
    button{
      scale: 0.9;
    }
    .mp-image, .mp-video{
      max-width: 500px;
      width: 100vw;
    }
    #lightgallery{
      column-count: 2;
    }

    .kontakt-sub-container h2 {
      font-size: 2rem;
    }
    .kontakt-osoba{
    scale: 0.8;
    }
    .kontakt-socials{
    scale: 0.7;
    }
    .onas-div-text .header{
      font-size: 3rem;
    }
}

@media (max-width: 480px) {
  .banner__wrapper .banner-grid img {
      width: 110vw;
    }
  
  .glide-carousell-wrapper{
    height: 100vh;
    gap: 2rem;
  }
  .mp-media-container img:nth-of-type(1) {
    transform: translate(0, 1rem);
  }
  .mp-media-container img:nth-of-type(2) {
    transform: translate(1rem, -2.975rem);
  }
}

@media (max-width: 380px) {
  .banner__wrapper .banner-grid h1 {
      font-size: 4rem;
    }
  
    /* hero heading bold */
    .banner__wrapper .banner-grid h1 b {
      font-size: 5rem;
    }
  .footer-container{
    scale: 0.8;
  }
  #lightgallery{
    column-count: 1;
  }
  .onas-div-text .header{
    font-size: 2.75rem;
  }
