/* Path: user/themes/reborn-k/css/custom.css */


:root {
    --color-light: #f0f0f0;
    --color-light-highlight: #ffffff; 
    --color-dark: #000000;
    --color-primary: #377D00;
    --color-secondary: #F8B23C;
    /* Colored peaks colors */
    --peaks-color-1: #EDF4E7;
    --peaks-color-2: #DBEACF;
    --peaks-color-3: #C9DFB7;
    --peaks-color-4: #B7D5A0;
    --peaks-color-5: #A5CA89;
    --peaks-color-6: #93BF72;
    --peaks-color-7: #80B55B;
    --peaks-color-8: #6CAA44;
    --peaks-color-9: #58A02A;
    /* gradient variables */
    --sipka-gradient: linear-gradient(271deg, #8E5A00 0%, #F8B23C 97.42%);
    --section-gradient: linear-gradient(180deg, #377D00 0%, #125D01 100%);
    scroll-behavior: smooth;
    --serif: 'Source Serif 4', serif;
    --inter: 'Inter', sans-serif;
    --miriam: 'Miriam Libre', sans-serif;
}
html,
body {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

/* FONT FACES */

.font{
  font-family: var(--inter);
  line-height: normal;
  font-weight: 400;
  font-style: normal;
}
.header{
  font-size: 3.33rem;
}
.sm{
  font-size: 1.25rem;
}
.md{
  font-size: 1.675rem;
}
.lg{
  font-size: 2.5rem;
}
.bold{
  font-weight: 700;
}
.regular{
  font-weight: 400;

}
.light{
  font-weight: 300;
}
.wh{
  color: var(--color-light);
}
.bold .wh{
  color: var(--color-light-highlight);
}
.bk{
  color: var(--color-dark);
}
/*section gradient*/
.sg{
  background: var(--section-gradient);
}

/*-------------------- NAVBAR -------------------------*/

.navbar{
    display: flex;
    height: 90px;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem 4rem;
    align-items: center;
  }
  .navbar-brand{
    height: calc(90px - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 50px;
  }
  .nav__links li{
    list-style: none;
  }
  .navlink{
    color: var(--color-dark);
    text-decoration: none;
    text-align: center;
    font-family: var(--miriam);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.59444rem */
  }
  .navlink:hover{
  }
  
  .nav__links li:last-of-type .navlink{
    border-radius: 2.15919rem;
    background: var(--color-primary, #377D00);
    padding: 0.66669rem 1.83331rem;
    color: var(--color-light);
  }
  .active{
    /* if needed add styles for the current active link, the code is ready for it*/
  }
        /* Mobile Nav */
      .page-navbar__hamburger {
        padding: 0;
        border: none;
        display: none;
        margin-right: 20px;
        cursor: pointer;
        font-family: Icons;
        font-size: 2.7em;
        color: var(--primary);
        background-size: 100%;
        background-repeat: repeat;
      }
        .menu {
          display: none;
          margin-left: 1rem;
          padding: 9px 25px;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          transition: background-color 0.3s ease 0s;
          background-color: transparent;
        }
        
        .menu:hover{
        }
      
        .overlay {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1000;
          left: 0;
          top: 0;
          background-color: var(--background-highlight);
          overflow-x: hidden;
          transition: width 0.5s ease 0s;
        }
        .overlay ul{
          list-style-type: none;
        }
        .overlay--active {
          width: 100%;
        }
        
        .overlay__content, .overlay__content ul {
          display: flex;
          height: 100vh;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        
        .overlay li a {
          padding: 15px;
          font-size: 36px;
          display: block;
          transition: color 0.3s ease 0s;
        }
        
        .overlay li a:hover,
        .overlay li a:focus {
          cursor: pointer;
        }
        .overlay .close {
          position: absolute;
          top: 20px;
          right: 45px;
          font-size: 60px;
          color: var(--texthighlight);
          transition: all ease-in-out 0.3s;
        }
  
        .overlay .close:hover{
          text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
          color: #ffffff;
          animation: shake 250ms 2 ease-in;
          -moz-animation: shake 150ms 2 linear;
          -webkit-animation: shake 150ms 2 linear;
          -o-animation: shake 150ms 2 linear;
  
        }
      .overlay ul{
        padding: 0;
      }
        .overlay .active:hover{
          border-radius: 0;
        }
        .overlay .navlink{
          transition: all ease-in-out 0.3s;
        }
        .overlay .navlink:hover{
          background-color: transparent;
          font-size: 3em;
          text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
        }
  
        /* overlay */
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  /* ==== 1080 px ==== */ 
  @media only screen and (max-width: 1380px) {
    .nav__links
     {
      display: none;
    }
    .menu {
      display: inline-block;
      margin-right: 10px;
    }
    .active{
        /* if needed add styles for the current active link, the code is ready for it*/
    }
  }

  /* hero section */

  .banner__wrapper, .banner-grid {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__wrapper .banner-grid *{
  text-align: center;
  font-family: var(--serif);
}
.banner__wrapper .banner-grid img{
  max-width: 600px;
}
.banner__wrapper .banner-grid h1{
  font-size: 8.78131rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin-top: -130px;
  margin-bottom: -75px;
}

.banner__wrapper .banner-grid h1 b{
  color: var(--color-primary);
  font-size: 13.172rem;
  font-weight: 400;
  line-height: normal;
}
.banner__wrapper .banner-grid p{
  font-size: 1.59588rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--BLACK, #000);
  text-align: center;
}


/* mainpage - layout - 1*/

.mp-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18rem;
  margin: 0 auto;
  height: 100vh;
  gap: 50px;
}

/* mainpage - layout - 1*/
.usage-wrapper{
  background-color: #80B55B;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1vw;
  width: 4000vw;
  overflow-x: scroll;
}
.usage-item{
  height: 30vw;
  width: 40vw;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 1) 100%), url("../images/paddleboard.png");
  background-size: cover;
  background-color: #377D00;
  position: relative;
  border-radius: 50px;

}
.usage-name{
  position: absolute;
  left: 15px;
  bottom: 15px;
  margin: 0;
  color: white;
}

.mp-layout .mp-content{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.mp-content p{
  font-size: 1.25rem;
}
.mp-content h3{
  font-size: 3rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.mp-content a{
  display: flex;
  padding: 1.08331rem 5.41669rem;
  justify-content: center;
  align-items: center;
  gap: 0.83331rem;
  border-radius: 2rem;
  background: var(--section-gradient);
  max-width: fit-content;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--color-light);
}


.mp-image{
  max-height: 80%;
  width: auto;
  border-radius: 1.975rem;
}

.scroll_container {
  height: 400vh;
}

/* OLD HORIZONTAL SCROLL
.horizontal_scroll {
  position: absolute;
  top: 0;
  height: 100%;
  width: 400vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
}

.scroll_contents {
  height: 100%;
  width: 100vw;
}

.sticky_wrap {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

.red {
  background-color: #ff3d00;
}

.yellow {
  background-color: #ffff00;
}

.green {
  background-color: #05ff00;
}

.blue {
  background-color: #2835f8;
}

h2 {
  font-size: 2rem;
  color: #f7f7f7;
}

.left {
  margin-top: 5vh;
  margin-left: 5vw;
}

.right {
  text-align: right;
  margin-top: 85vh;
  margin-right: 5vw;
}
*/


/* gallery styles */

#lightgallery {
  column-count: 3;
  column-gap: 1rem;
  column-width: 33.3%;
}

.image--item  {
  -webkit-transform: scale(0);
  transform: scale(1);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}
.image--item  img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;

}

/* O NÃS TIMELINE */

.onas-wrapper{
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

.onas-wrapper svg{
  position: absolute;
  top: 63px;
  left: -69px;
  width: 100%;
  overflow: visible;
  z-index: -5;
}

#animatedPath {
  stroke-width: 20px;
  stroke: var(--Highlight-color, #377D00);
  fill: none;
  z-index: -5;
}
.onas-div > * {
  width: 40%;
}

.onas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  gap: 10rem;
  margin-top: 10rem;
  position: relative;
}
.date{
  position: absolute;
  width: 75px;
  border-radius: 100%;
  aspect-ratio: 1/1;
  background-color: var(--color-primary);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.date:nth-of-type(3){
  width:100px;
}

.onas-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.onas-div img{
  border-radius: 1.75rem;
}


 /*image on the other side */
 .iotos{
  flex-direction: row-reverse;
}



/* circular layout */
.circle-container {
  position: relative;
  width: 100%;
  height: 105vh; /* Adjust the height as needed */
  background-image: url("../images/balls-background.png");
  background-size: cover;
}

.circle {
  position: absolute;
  /* width: 80px; /* Adjust the width of the circles */
  /*  height: 80px; /* Adjust the height of the circles */
  /* background-color: #ccc; /* Adjust the background color as needed */
  color: var(--color-light);
  text-align: center;
  line-height: 80px; /* Adjust the line height to vertically center the text */
  font-size: 14px; /* Adjust the font size as needed */
  transform: translate(25%, 50%);
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: -50rem;
}

.center img {
  max-width: 30rem;
}

.center h4{
  margin-top: -35px;
}




.vlastnost-wrapper{
  display: flex;
  flex-direction: column;	
  align-items: center;
  justify-content: center;
  width: 15rem;
}

.vlastnost-image{
  width: 80%;
  height: auto;
  margin-bottom: -2.5rem;
}

.vyuziti-wrapper{
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}
.glide-carousell-wrapper{
  width: 100%;
  height: 105dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vyuziti-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vyuziti-heading{
  position: absolute;
  top: 80%;
  margin: 0;
  left: 10%;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.8));
}

.mp-media-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mp-media-container img {
  flex: 1;
  object-fit: cover;
  max-height: 40dvh; 
}
.mp-media-container img:nth-of-type(2) {
  transform: translate(3.975rem, -3.975rem);
}

.cta-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100dvw;

  padding: 0 10rem;
}