<footer class="footer">
    <div class="footer-container">
        <h5 class="banner__main-text word wh">Reborn<b>K</b></h5>
        <div class="contact-info wh font sm">
            <p>Email: info@example.com</p>
            <p>Telefon: +1 123 456 7890</p>
        </div>
        <div class="navigation">
            <ul>
                {% for page in pages.children %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p class="font wh light">Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            All rights reserved | Tato stránka byla vytvořena s
            <i class="fa fa-heart-o" aria-hidden="true"></i> od
            <a href="https://occamy.cz/" target="_blank">Occamy</a>
            a
            <a href="https://hrabal-hires.cz/" target="_blank">Hrabal & Hireš</a>
        </p>
    </div>
</footer>

<style>
    /* Add your styles here */
    .footer{
        background: radial-gradient(827.38% 245.31% at 47.94% 49.98%, #000 1.05%, #7E7E7E 100%);
    }
    .footer p{
        margin: 0;
        padding: 0;
    }
    .footer-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 400px;
        margin-top: 2rem;
        padding: 0 5rem;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    .navigation ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer-container .banner__main-text{
        color: var(--Background-color, #FFF);
        text-align: center;
        font-family: var(--serif);
        font-size: 6.889rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .footer-container .banner__main-text b{
        color: var(--color-primary);
        font-size: 9.172rem;
        font-weight: 600;
        line-height: normal;
    }
    .navigation ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 1.66rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .copyright{
        border-top: 1px solid #ccc;
        padding: 1rem 5rem;
        margin: 0 10rem;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
