<footer class="footer">
    <div class="footer-container">
        <h5 class="banner__main-text word wh">Reborn<b>K</b></h5>
        <div class="contact-info wh font sm">
            <p>info@rebornk.com</p>
            <p>+420 603 472 183</p>
        </div>
        <div class="navigation">
            <ul>
                {% for page in pages.children %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p class="font wh light">Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            All rights reserved | Tato stránka byla vytvořena s
            <i class="fa fa-heart-o" aria-hidden="true"></i> od
            <a href="https://occamy.cz/" target="_blank">Occamy</a>
            {# This link points to the website of Hrabal & Hireš. 
            a
            <a href="https://hrabal-hires.cz/" target="_blank">Hrabal & Hireš</a> 
            #}
        </p>
    </div>
</footer>

