
<div class="mp-layout iotos sg wh">
    {# Placeholder image for content (19:6 res) #}
    {% if page.media['content.img'] %}
        <img src="{{ page.media['content.img'].url }}" alt="{{ page.media['content.img'].title }}" class="mp-image" />
    {% else %}
        <img src="http://placehold.it/720x1280" alt="placeholder image" class="mp-image" />
    {% endif %}
    <div class="mp-content">
        <h2 class="font header lg bold">Heading</h2>
        <p class="font sm ">Myslíme na budoucnost a vytváříme udržitelnější alternativy.
        <br>Vyvinuli jsme vlastní recyklovaný <b class="bold">materiál RebornK</b>, 
ze kterého lze vyrobit téměř cokoliv</p>
    </div>
</div>