
<div class="mp-layout iotos">
    {# Placeholder image for content (19:6 res) #}
    {% if page.media['content.img'] %}
        <img src="{{ page.media['content.img'].url }}" alt="{{ page.media['content.img'].title }}" class="mp-image" />
    {% else %}
        <img src="http://placehold.it/720x1280" alt="placeholder image" class="mp-image" />
    {% endif %}
    <div class="mp-content">
        <h2>Heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, adipisci alias aliquid amet aperiam asperiores atque autem blanditiis commodi consequatur cumque cupiditate delectus deleniti dicta dolor doloremque doloribus ducimus ea earum eius eligendi error esse est eum eveniet excepturi exercitationem expedita explicabo facere fugiat fugit hic id illum impedit in incidunt ipsa ipsum iste iure labore laboriosam laborum laudantium libero magnam magni maiores maxime minima minus molestiae mollitia natus necessitatibus nemo neque nihil nisi nobis nostrum nulla numquam obcaecati odio officia officiis omnis optio pariatur perferendis perspiciatis placeat porro possimus praesentium provident quae quam quasi quia quibusdam quisquam quod quos ratione recusandae rem repellat reprehenderit repudiandae rerum saepe sapiente sequi similique sint sit soluta sunt suscipit tempora tenetur totam ullam unde vel veniam veritatis voluptas voluptate voluptatem voluptates voluptatibus voluptatum.</p>
    </div>
</div>