<div class="usage-wrapper">
    <div class="usage-item">
        <h4 class="usage-name">Paddleboard</h4>
    </div>
    <div class="usage-item">
        <h4 class="usage-name">Paddleboard</h4>
    </div>
    <div class="usage-item">
        <h4 class="usage-name">Paddleboard</h4>
    </div>
    <div class="usage-item">
        <h4 class="usage-name">Paddleboard</h4>
    </div>
    <div class="usage-item">
        <h4 class="usage-name">Paddleboard</h4>
    </div>
    <div class="usage-item">
        <h4 class="usage-name">Paddleboard</h4>
    </div>
    <div class="usage-item">
        <h4 class="usage-name">Paddleboard</h4>
    </div>
</div>