<div class="circle-container" id="vlastnosti">
    <div class="center circle-header " id="vlastnosti-nadpis">
        <img src="{{ url('theme://images/logo.png')|e }}" alt="" class="logo">
        <h4 class="font md bold"> Vlastnosti materiálu </h4>
    </div>
    {% for module in page.collection() %}
        {{ module.content|raw }}
    {% endfor %}
</div>

<script src="{{ url('theme://js/circular-layout.js') }}"></script>

