{# Návrhy na carousell #}
    {# Mobilní verze: https://codepen.io/kharrop/pen/MygjjM #}
    {# Komentář #}
<div class="glide-carousell-wrapper">
    <h2 class="font header bk bold">{{ page.title }}</h2>
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                {% for module in page.collection() %}
                    {{ module.content|raw }}
                {% endfor %}
            </ul>
        </div>
        <div class="glide__bullets" data-glide-el="controls[nav]">
            {% for item in carouselItems %}
                <button class="glide__bullet" data-glide-dir="={{ loop.index }}"></button>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
        new Glide('.glide', {
            type: 'carousel',
            perView: 3,
            focusAt: 'center',
            autoplay: 1500,
            hoverpause: true,
            focusAt: 'center',
            breakpoints: {
                768: {
                    perView: 1,
                    peek: {
                        before: 10,
                        after: 10
                    }
                }
            },
            peek: {
                before: 100,
                after: 100
            }
        }).mount(

        );
    </script>
</div>