
<div class="circle-container" id="vlastnosti">
    <div class="circle center">
        <img src="{{ url('theme://images/logo.png')|e }}" alt="" class="logo">
        <h4 class="font md bold"> Vlastnosti materiálu </h4>
    </div>
    {% for i in 1..5 %}
        <div class="circle orbit orbit-{{ i }}">Orbit {{ i }}</div>
    {% endfor %}
</div>

